[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/markabe/bufexplorer.git
	ignore = dirty
[submodule "snippets"]
	path = bundle/snippets
	url = git://github.com/msanders/snipmate.vim.git
    ignore = dirty
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/vim-scripts/Command-T.git
	ignore = dirty
[submodule "bundle/IndexedSearch"]
	path = bundle/IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
	ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
    ignore = dirty
[submodule "nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = http://github.com/vim-ruby/vim-ruby.git
	ignore = dirty
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
    ignore = dirty
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = git://github.com/taq/vim-rspec.git
	ignore = dirty
[submodule "bundle/Ruby-Single-Test"]
	path = bundle/Ruby-Single-Test
	url = git://github.com/vim-scripts/Ruby-Single-Test.git
	ignore = dirty
[submodule "bundle/rake"]
	path = bundle/rake
	url = git://github.com/tpope/vim-rake.git
	ignore = dirty
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = git://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = git://github.com/vim-scripts/jsbeautify.git
	ignore = dirty
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
    ignore = dirty
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
    ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = dirty
[submodule "bundle/markdown_preview"]
	path = bundle/markdown_preview
	url = git://github.com/robgleeson/vim-markdown-preview.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
    ignore = dirty
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = git://github.com/Townk/vim-autoclose.git
	ignore = dirty
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = git://github.com/tomtom/checksyntax_vim.git
	ignore = dirty
[submodule "bundle/gist"]
	path = bundle/gist
	url = git://github.com/vim-scripts/Gist.vim.git
	ignore = dirty
